.contact-info {
    align-content: center;
    border: 1px solid #fff;
    border-radius: 10px;
    height: 500px;
    padding-top: 30px;
    text-align: center;
    width: 50%;
}

.contact-info h3 {
    letter-spacing: 6px;
    font-size: 30px;
    text-decoration: underline;
}

.contact-info p {
    letter-spacing: 3px;
    font-size: 22px;
}

.contact-icons {
    display: flex;
    gap: 50px;
    justify-content: center;
    margin: 50px 0;
}

.contact-icons > * {
    color: #fff;
    font-size: 50px;
}
