:root {
    --black-color: #000;
    
    --header-bg-color: #f2f4f6;
    --header-height: 50px;
    
    --link-hover-color: #1a73e8;
}

/* #region HTML */
body {
    color: var(--black-color);
    font-size: 18px;
}

a { color: var(--black-color); }

h1 {
    user-select: none;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 5px;
    text-transform: uppercase;
}

h2 {
    font-size: 28px;
    font-weight: 300;
    letter-spacing: 2.5px;
}

h3 {
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 1.5px;
}

header {
    background-color: var(--header-bg-color);
    height: var(--header-height);
    line-height: var(--header-height);
    position:sticky;
    top: 0px;
}
/* #endregion */

/* #region CLASS */
.container {
  margin-inline: auto;
  width: min(100% - 30px, 1080px);
}

.flex {
  display: flex;
}
/* #endregion */