.contact-section {
    color: #fff;
    background-image: url("/contact-cover.jpg");
    background-size: cover;
    text-shadow: 2px 2px 4px #000;
}

.home-page section:nth-child(odd) { background-color: #fff; }

.home-page section:nth-child(even) { background-color: #f2f4f6; }